head
    meta(charset='utf-8')
    title Sticky Shopping
    link(href="bootstrap.min.css",rel="stylesheet") 
    link(href="style.css",rel="stylesheet")
    script(src="https://kit.fontawesome.com/9eac6b4cd8.js", crossorigin="anonymous")
