doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title hello
        link(href="bootstrap.min.css",rel="stylesheet") 
        link(href="style.css",rel="stylesheet")
    body
    
        nav.navbar.navbar-dark.bg-primary
            a.navbar-brand(href="/") Sticky Shopping
            a.nav-link.text-light(href="/login") Login


        div.container-fluid.p-4
            div.card(style="width: 18rem;")
                img.card-img-top.p-4(src="https://image.flaticon.com/icons/svg/2885/2885534.svg",alt="Card image cap")
                div.card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    a(href="#",class="btn btn-primary") Add to cart
  
</div>