doctype
html(lang='en')
    include partials/head.pug
    body
        include partials/navbar.pug
        
        div.container-fluid.p-4.d-flex
        
            each product in products
                div.card.m-3(style="width: 18rem;")
                    img.card-img-top.p-4(src=product.img,alt="Card image cap")
                    div.card-body
                        h5.card-title #{product.name} #{product.price}₺
                        p.card-text #{product.description}
                        a(href="#",class="btn btn-primary") Add to cart
  

