doctype
html(lang='en')
    include partials/head.pug


    body
        include partials/navbar.pug

        div.w-50.mx-auto.mt-5.p-4.card.rounded
            h1.text-center.mb-4 Register
            form(method="POST",action="/register")
                div.form-group
                    label(for="exampleInputEmail1") Username
                    input.form-control#exampleInputEmail1(name="username",type="text",aria-describedby="emailHelp" placeholder="Enter email")
                    small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                div.form-group
                    label(for="exampleInputPassword1") Password
                    input.form-control#exampleInputPassword1(name="password",type="password",placeholder="Password")
                button.btn.btn-primary(type="submit") Register

        div.alert.alert-dismissible.alert-success.w-50.mx-auto.mt-4
            button.close(type="button",data-dismiss="alert")
            strong Success!

        div.alert.alert-dismissible.alert-danger.w-50.mx-auto.mt-4
            button.close(type="button",data-dismiss="alert")
            strong Something went wrong, please make sure you entered all information.
</div>        


  

